.container {
    background-color: rgba(	141, 97, 66, 0.50);
    display: grid;
    grid-template-columns: 100px, 200px, 100px, 100px, auto;
    grid-template-rows: auto, auto, auto;
    grid-gap: 20px;
    /* grid-auto-rows: 00px; */
}

/* Welcome */
.item-a{
    grid-column-start: 2;

}

/* Soil Message */
.item-b {
    grid-column-start: 4;
    grid-row-start: 3;
    
}

/* Weather Component */
.item-c {
    grid-column-start: 4;
    
}

/* Graph */
.item-d {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-column-end: span 2;
    
}
