.container {
    background-color: rgba(	141, 97, 66, 0.50);
    display: grid;
    grid-template-columns: 66%, 33%;
    grid-auto-rows:minmax(100px, auto);
}

.weather {
    width: 100px;
}

.weatherComponent {
    align-content: center
    
}

.message {
    width: 200px;
}
.cell {
    display: inline-block
}