#device_form {
    background-color: #564;
    width: 60%;
    height: 30px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 2px;
}

h2 {
    color: black;
    float: center;
    text-decoration: underline;
}

#paper {
    width: 75%;
    overflow: auto;
    margin: auto;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    /* background-color: lightcyan */
}

#table {
    width: inherit;
    margin: auto;
    margin-bottom: 20px;
}

/* TableRow {
    whiteSpace: 'normal';
    wordWrap: 'break-word';
  } */

