#device_form {
    background-color: #564;
    width: 60%;
    height: 30px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 2px;
}

h2 {
    color: white;
    float: center;
}
/* 
#paper {
    width: 90%;
    overflow: auto;
} */

/* #table {
    width: 90%;
} */

/* TableRow {
    whiteSpace: 'normal';
    wordWrap: 'break-word';
  } */

