.container {
    display: grid inline-block;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    background-image: url("/public/images/soilPic.jpg");
    justify-items: center;
}

.image-cropper {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    position: relative 
}

img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
    padding: 0, auto;
}

.plantSensor {
    grid-column-start: 3;
    grid-row-start: 3;
}

.particle {
    grid-column-start: 4;
    grid-row-start: 3;
}

.sensor {
    grid-column-start: 2;
    grid-row-start: 3;
}

.info {
    width: 400px;
    padding: none;
    margin: none;
    text-align: center;
    grid-column-start: 3;
    grid-row-start: 2;
    font-family: monospace, sans-serif;
    font-weight: bold;

}

.info2 {
    width: 400px;
    padding: none;
    margin: none;
    text-align: center;
    grid-column-start: 3;
    grid-row-start: 4;
    font-family: monospace, sans-serif;
    font-weight: bold;
}

.card {
    width: 60%;
    margin-top: 60px;
    padding-bottom: 30px;
    border-radius: 10px;
}