.navbar {
    background-color: #53815e;
    background-image: url('http://mediad.publicbroadcasting.net/p/wnpr/files/styles/x_large/public/201608/4671001039_1729876708_o_1.jpg');
    width: 100%;
    border-radius: 0px;
    text-decoration: none !important;
    /* text-decoration: underline; */
    color: #eee;
    justify-content: baseline;
  }
  
  .navbar h1 {
      font-family: Georgia, 'Times New Roman', Times, serif;
      float: right;
  }

  .navItem {
    color: white;
    text-align: center;
    text-decoration: none !important;
    font-size: 15pt;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 5px;
    font-family: helvetica;
    text-transform: uppercase;
}

/* Change the link color to #111 (black) on hover */
a:hover {
    text-decoration: underline;
    color: #111;
}

.container {
    
}