#water_form {
    background-color: rgb(84, 146, 201);
    width: 40%;
    height: 30px;
    margin: 20px auto;
    /* padding: 20px; */
    padding-left: 80px;
    border-radius: 2px;
}


#paper {
    width: 75%;
    overflow: auto;
    margin: auto;
    margin-bottom: 30px;

}

#table {
    width: inherit;
    margin: auto;
}

.formDiv{
    margin: auto;
}

.title {
    color: white;
    text-decoration: underline 
}