#water_form {
    background-color: rgb(84, 146, 201);
    width: 40%;
    height: 30px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 2px;
}


Paper {
    width: 80%;
    overflow: auto;

}

Table {
    width: 80%;

}