/* .container{
    display: grid;
    grid-template-columns: 100px, 100px, auto;
    grid-auto-rows: 10px, auto;
} */

.weatherImage {
    padding: 10px;
}

.icon {
    width: 80px;
}

/* .weatherThing {
    display: inline;
    background-color: aqua;

}

.weatherChild{
    display: inline-block;
    float: left;
} */