.container{
    display: grid;
    grid-template-columns: 50px, 50px;
    grid-auto-rows: auto;
}

.weatherImage {
    padding: 10px;
}

.icon {
    width: 80px;
}

.item-a {
    grid-column-start: 1
}

.item-b {
    grid-column-start: 2;
    grid-row-start: 1;
}

/* .weatherThing {
    display: inline;
    background-color: aqua;

}

.weatherChild{
    display: inline-block;
    float: left;
} */